.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  cursor: url("/Cursors.svg"), auto;
}

.container {
  width: 450px;
  min-height: 47px;
  padding: 32px;
  border-radius: 16px;
  gap: 24px;
  border: 1px solid #eaecf0;
  text-align: center;
  cursor: url("/Cursors.svg"), auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  color: var(--text-secondary-gray);
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task input {
  display: none;;
}

.task input + label:before {
  content: '';
  width: 24px;
  height: 24px;
  top: 16px;
  left: 16px;
  border-radius: 4px;
  background-color: white;
  border: 1px solid #0796D3;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  margin-bottom: 3px;
}

.task input:checked + label:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 10 10'%3E%3Cg class='nc-icon-wrapper' stroke-width='1' fill='%23555555'%3E%3Cpath fill='none' stroke='%230796D3' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' data-cap='butt' d='M2.83 4.72l1.58 1.58 2.83-2.83' /%3E%3C/g%3E%3C/svg%3E");
  background-color: #A0DCF6;
}

.task {
  position: relative;
  width: 100%;
  height: 56px;
  padding: 16px;
  border-radius: 8px;
  gap: 16px;
  border: 1px dashed #d7dde9;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  animation: fadein .5s;
}

@keyframes fadein {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.task:hover {
  width: 100%;
  height: 56px;
  padding: 16px;
  border-radius: 8px;
  border: 1px dashed #d7dde9;
  gap: 16px;
  display: flex;
  background: #f7f9fd;
  align-items: center;
  width: 100%;
  margin-bottom: 24px;
  cursor: url("/Cursors.svg"), auto;
  border: none;
}

.label {
  cursor: url("/Cursors.svg"), auto;
}

.taskFinished {
  text-decoration: line-through;
  color: #0000008a;
  font-size: 16px;
  cursor: url("/Cursors.svg"), auto;
}

.position {
  display: flex;
  justify-content: center;
}

.trash {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  transition: ease filter, transform 0.3s;
  transform-origin: center;
}

.trash:hover {
	transform: translateY(-16px);
}

.check {
  width: 24px;
  height: 24px;
  border: 1px solid #b0bbd1;
  border-radius: 4px;
  cursor: url("/Cursors.svg"), auto;
}

.check:checked {
  background-color: #0796d3;
  border: 1px solid #0796d3;
  background: linear-gradient(0deg, #0796d3, #0796d3),
    linear-gradient(0deg, #a0dcf6, #a0dcf6);
}

.acaoButton {
  width: 100%;
  max-width: 600px;
  height: 51px;
  padding: 12px 18px;
  border-radius: 8px;
  gap: 8px;
  background: linear-gradient(90deg, #0796d3 0%, #53c0f0 68.65%);
  border: none;
  color: #fff;
  cursor: url("/Cursors.svg"), auto;
  margin-top: 20px;
  transition: ease filter, transform 0.3s;
  transform-origin: center;
}

.acaoButton:hover {
	transform: translateY(-5px);
}

@media screen and (max-width: 839px) {
  .container {
    max-width: 340px;
  }

  .task {
    width: 100%;
    padding: 20px;
  }

  .acaoButton {
    max-width: 400px;
    font-size: 18px;
  }
}